*{box-sizing: border-box;}

.wrapper{
    width: 1000px;
    margin: 100px 300px;
    text-align: center;
    font-size:0;}


.item {
    display: inline-block;
    width:25%;
    height: 15vh;
    padding: 25px;
    font-size: 3rem;
    border: 1px solid lightgray;
}

